# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Distribution / packaging
*.egg-info/
dist/
build/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Logs
logs/
*.log

# Environment
.env
.venv/
venv/

# Other
target/
pgdata/
